.header {
    background-color: #10032b;
    color: #feff9a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 40px;
}

.header-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    z-index: 1000;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px; /* Match the height of the header */
}

.header-button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 18px;
    cursor: pointer;    
}

.header-button:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);    
}
